# Main

In [1]:
import zipfile
import pandas as pd

In [11]:
archive = zipfile.ZipFile('data/car_prices_data.zip', 'r')
df = pd.read_csv(archive.open('car_prices.csv'))

In [3]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [12]:
drop_list = ['trim', 'vin', 'state', 'saledate', 'seller', 'mmr']

df = df.drop(columns=drop_list, axis=1)

df = df.rename(columns={'make': 'maker', 'sellingprice': 'price', 'color': 'exterior_color', 'interior': 'interior_color'})

In [14]:
df = df.dropna(how='any')
selected_rows = df[df['maker'] =='BMW']

In [15]:
cols = list(df.columns)
#year, maker, body, transmission, color, odometer, condition

selected_rows.head()

,year,maker,model,body,transmission,condition,odometer,exterior_color,interior_color,price
2,2014,BMW,3 Series,Sedan,automatic,45.0,1331.0,gray,black,30000.0
4,2014,BMW,6 Series Gran Coupe,Sedan,automatic,43.0,2641.0,gray,black,67000.0
6,2014,BMW,M5,Sedan,automatic,34.0,14943.0,black,black,65000.0
19,2014,BMW,6 Series,Convertible,automatic,34.0,8819.0,black,black,67200.0
21,2014,BMW,5 Series,Sedan,automatic,29.0,25969.0,black,black,30000.0

In [16]:
dic_input = { 'year': 2017, 'maker': 'BMW', 'model': 'X5', 'body': 'SUV', 'transmission': 'Automatic', 'odometer': 10000, 'condition': 'Excellent', 'color': 'White', 'interior': 'Black'}

dic_weight = { 'year': 0.1, 'maker': 0.3, 'model': 0.05, 'body': 0.02, 'transmission': 0.02, 'odometer': 0.4, 'condition': 0.3, 'exterior_color': 0.25, 'interior_color': 0.05, 'price': 0.5}